.rate-btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}
.rate-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: hsl(217, 19%, 27%);
  border: none;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
}

.rate-btn:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 0%);
}
.rate-btn.selected {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 0%);
}
.rate-btn.previous-hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
}
