.container {
  max-width: 375px;
  background-color: hsl(213, 19%, 18%);
  border-radius: 30px;
  padding: 30px;
}

.content {
  display: flex;
  flex-direction: column;
}
.star-image {
  width: 15px;
  background-color: hsl(217, 19%, 27%);
  border-radius: 50%;
  padding: 10px;
  align-self: flex-start;
}
.btn {
  font-size: 15px;
  font-weight: 700;
  width: 100%;
  border-radius: 30px;
  border: none;
  background-color: hsl(25, 97%, 53%);
  margin-top: 15px;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover {
  background-color: hsl(0, 0%, 100%);
}
.rating-title {
  color: hsl(0, 0%, 100%);
  font-size: 28px;
  text-align: left;
  width: 100%;
}
.rating-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin-top: 0;
}
